.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 2px;
  text-align: center;
}
.f-1 {
  display: flex;
  flex: 1;
}
.f-2 {
  display: flex;
  flex: 2;
}
.alignment {
  text-align: center;
  font-weight: bold;
  padding: 10px;
}
.c-1 {
  background-color: orange;
}
.content img {
  width: 200px;
  height: 250px;
  padding: 10px;
  margin: 10px;
}
.content img:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
